.layout {
  min-height: 100vh;
  background: #f0f2f8; // Можно заменить на переменную, если нужно
}

.main {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}
